<% layout('layouts/boilerplate') %>
<form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%= campground.title %>" />
  </div>
  <div>
    <label for="price">Price</label>
    <input
      type="number"
      name="campground[price]"
      id="price"
      value="<%= campground.price %>" />
  </div>
  <div>
    <label for="Image">Image</label>
    <input
      type="text"
      name="campground[image]"
      id="Image"
      value="<%= campground.image %>" />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%= campground.location %>" />
  </div>
  <div>
    <label for="description">Description</label>
    <br />
    <textarea
      name="campground[description]"
      id="description"
      cols="50"
      rows="15">
<%= campground.description %></textarea
    >
  </div>
  <button>Submit</button>
</form>
